body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#hammock {
  width: 822px;
  height: 540px;
  text-align: center;
  margin: 0px auto;
  padding: 0px;
  position: relative;
  background-color: #fff;
  background-image: url(xhang-calc-web.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.small {
  font-size: 20px;
  display: block;
}

#hang-weight,
#hang-angle,
#ridgeline,
#suspension-length,
#hang-height,
#sit-height,
#tree-distance,
#shear,
#tensile {
  font-size: 30px;
  padding: 10px 0px;
  background-color: #ed2024;
  width: 100px;
  text-align: center;
  margin: 3px;
  position: absolute;
  color: #fff;
}

#the-form {
  position: absolute;
  top: 540px;
  left: 0px;
  width: 100%;
  padding: 10px;
  margin: 0px auto;
  color: #fff;
  font-size: 12px;
  background: #000;
}

#the-form table {
  margin: 0px auto;
}

#hang-weight {
  background-color: #8cc641;
  top: 436px;
  left: 320px;
}

#hang-angle {
  top: 380px;
  left: 690px;
  background-color: #28a9ed;
}

#tree-distance {
  top: 111px;
  left: 369px;
}

#ridgeline {
  top: 235px;
  left: 369px;
}

#sit-height {
  top: 465px;
  left: 503px;
}

#suspension-length {
  top: 437px;
  left: 150px;
}

#hang-height {
  top: 101px;
  left: 0px;
}

#shear {
  background-color: #8cc641;
  top: 172px;
  left: 136px;
}

#tensile {
  background-color: #8cc641;
  top: 178px;
  left: 679px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

p cite {
  font-size: 10px;
}

div.row {
  clear: both;
  padding-top: 1px;
  font-size: 12px;
  background-color: #efeadb;
}

div.row span.label {
  float: left;
  width: 150px;
  height: 30px;
  text-align: right;
}

div.row span.formw {
  float: right;
  width: 250px;
  margin-left: 10px;
  text-align: left;
  height: 30px;
}
