.hang-form {
  background-color: black;
  grid-row: 2;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px 10px;
  color: white;
}

@media (max-width: 822px) {
  .hang-form {
    font-size: calc(100vw * (4 / 447) + 1px * (1586 / 149));
  }
}

@media (min-width: 822px) {
  .hang-form {
    font-size: 18px;
  }
}

.hang-form input {
  max-width: 8ch;
}

.units-imperial,
.label-distance-between-trees,
.label-preferred-sit-height,
.label-weight-in-hammock,
.length-choice,
.label-hang-angle {
  justify-self: end;
  text-align: right;
  white-space: nowrap;
}

.length-choice {
  font-size: inherit;
  padding: 0 0.25em;
}

.hang-form .units {
  margin-left: 1ch;
}

.disclaimer {
  grid-column: 1 / -1;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center;
}
