html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hang-app {
  position: relative;
}
